---
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body
		class="bg-gradient-to-br from-neutral-700 via-neutral-800 to-neutral-900 text-slate-50 md:h-screen"
	>
		<div class="flex flex-col md:flex-row">
			<div class="h-screen md:w-1/2">lorem</div>
			<div class="h-screen md:w-1/2">ipsum</div>
		</div>
	</body>
</html>
