<header class="h-full grid place-items-center">
    <div class="space-y-5">
        <img
            src="/picture.webp"
            alt="Image of a random person"
            class="w-1/2 h-1/2 rounded-md mx-auto"
        />
        <div class="text-center space-y-1">
            <h1 class="text-4xl font-bold">John Doe</h1>
            <p class="text-lg">(he/him)</p>
            <p class="text-xl font-medium mt-5">Content Creator</p>
        </div>
        <ul class="flex flex-row space-x-4 text-xl text-center">
            <li class="hover:text-cyan-400 transition-colors">
                <a href="https://facebook.com"
                    ><i class="fa-brands fa-facebook"></i></a
                >
            </li>
            <li class="hover:text-cyan-400 transition-colors">
                <a href="https://twitter.com"
                    ><i class="fa-brands fa-twitter"></i></a
                >
            </li>
            <li class="hover:text-cyan-400 transition-colors">
                <a href="https://instagram.com"
                    ><i class="fa-brands fa-instagram"></i></a
                >
            </li>
            <li class="hover:text-cyan-400 transition-colors">
                <a href="https://linkedin.com"
                    ><i class="fa-brands fa-linkedin"></i></a
                >
            </li>
        </ul>
    </div>
</header>
