---
export interface Props {
    name: string;
    pronouns: string;
    title: string;
    img: string;
}
const { name, pronouns, title, img } = Astro.props as Props;
---

<div class="text-center space-y-1">
    <img
        src={img}
        alt={"Image of " + name}
        class="w-1/2 rounded-md mx-auto object-cover"
    />
    <h1 class="text-4xl font-bold">{name}</h1>
    <p class="text-lg">{pronouns}</p>
    <p class="text-xl font-medium pt-5">{title}</p>
</div>
