---
export interface Props {
    name: string;
    pronouns: string;
    title: string;
}
const { name, pronouns, title } = Astro.props as Props;
---

<img
    src="/picture.webp"
    alt="Image of a random person"
    class="w-1/2 h-1/2 rounded-md mx-auto"
/>
<div class="text-center space-y-1 pb-8">
    <h1 class="text-4xl font-bold">John Doe</h1>
    <p class="text-lg">(he/him)</p>
    <p class="text-xl font-medium pt-5">Content Creator</p>
</div>
